* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    background-color: FFFFFF;
}
.header-container{
    width: 95%;
    max-width: 1280px;
    padding: 28.5px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.header-container-logo{
    width: 128px;
    height: 52px;
}
.header-container-nav{
    width: 100%;
    max-width: 572px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.header-container-nav a{
    position: relative;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.header-container-nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width 0.3s ease;
    z-index: 100;
}
.header-container-nav a:hover::after{
    width: 100%;
}
.header-container-list{
    display: none;
}
.mobile-nav{
    display: none;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: #D6EBF7;
}
.footer-container{
    width: 95%;
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    gap: 77px;
}
.footer-container-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-container-top-logo{
    width: 128px;
    height: 52px;
}
.footer-container-top-box{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer-container-top-box-tittle{
    display: flex;
    gap: 13px;
    align-items: center;
}
.footer-container-top-box-tittle-text{
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 131%;
    text-transform: uppercase;
    color: #000000;
}
.footer-container-top-box-content{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.footer-container-top-box-content-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.footer-container-bar{
    width: 100%;
    border: 1px solid #000000;
}
.footer-container-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container-bottom-left{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.footer-container-bottom-right{
    display: flex;
    gap: 32px;
    align-items: center;
}
.footer-container-bottom-right-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
.footer-container-bottom-right-bar{
    width: 1px;
    height: 100%;
    min-height: 24.05px;
    background-color: #BDBDBD;
}


@media(max-width:767px){
.header-container{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.header-container-nav{
    display: none;
}
.header-container-list{
    display: inline-block;
    cursor: pointer;
}
.header-mobile{
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
}
.mobile-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.mobile-nav a{
    display: block;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border-top: 1px solid #D2D2D2;
    transition: all 0.2s ease;
    text-decoration: none;
}
.mobile-nav a:hover{
    background-color: #f5f7fa;
    padding-left: 30px;
}
.mobile-nav.active {
    display: inline-block;
}

.footer-container{
    gap: 50px;
}
.footer-container-top{
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.footer-container-top-box{
    align-items: center;
}
.footer-container-top-box-content-text{
    text-align: center;
}
.footer-container-bottom{
    flex-direction: column;
    gap: 20px;
}
.footer-container-bottom-left{
    text-align: center;
}

}